@import './variables';

body{
  color: #333;
}

button{
  outline: none !important;
}

a{
  text-decoration: none !important;
}

.loading-shade-table{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
}

#main{
  .header-page{
    padding: 0 32px;
    min-height: 136px;
    color: #fff;
    position: relative;
    &::before{
      content: '';
      height: 200px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      background: $blue;

    }
  }
  .content-card-page{
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: calc(100vh - 279px);
    margin: 0 32px;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    padding-bottom: 1px;
  }
  .content-main-page{
    position: relative;
    padding: 32px;
    z-index: 1;
    background-color: $lactic;
    min-height: calc(100vh - 264px);
  }
}

.spinner-table{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 50px;
  margin-top: -32px;
  margin-left: -72px;
  background-color: $grey-300;
  z-index: 1;
}

.z-depth-1{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.z-depth-2{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.z-depth-3{
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.z-depth-4{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}

.z-depth-5{
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
