<div class="d-flex" id="wrap">

  <app-sidebar #appSidebar [ngClass]="{'active': appSidebar.sidebarActive}"></app-sidebar>

  <div id="content">
    <app-header></app-header>

    <main id="main">
      <router-outlet></router-outlet>

      <!--
      <div class="content-card-page d-none">
        <p>content-card-page</p>
      </div>
      <div class="content-main-page d-none">
        <p>content-main-page</p>
      </div>
      -->
    </main>
    <app-footer></app-footer>
  </div>
</div>

<!--
<div class="container-fluid" id="wrap">
  <app-sidebar></app-sidebar>

  <div id="content">
    <app-header></app-header>
    <main id="main">
      <breadcrumb [allowBootstrap]="false"></breadcrumb>

      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</div>
-->
