@import './scss/variables';


#wrap{
  app-sidebar{
    width: 100%;
    transition: 0.2s;
    &.active{
      max-width: 280px;
    }
    &:not(.active){
      max-width: 60px;
    }
  }
  min-height: 100vh;
}

#content{
  width: 100%;
  min-height: 100%;
}

#main{
  min-height: calc(100vh - 128px);
  &::before{
    background-color: $lactic;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
  }


}
